*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(../img/backgroundtest123.webp);
    background-size: 100%;
}
form{
    width: 400px;
    padding: 20px;
    border: 2px solid #feb925;
    margin: 90px auto;
    box-shadow: 6px 6px 40px #feb92582;
    border-radius: 66px;
}
form input{
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    outline: none;
    opacity: 80%;
    font-size: 12px;
    font-weight: bolder;
}

.wesebi{
    width: 20px;
}
input{
    border-radius: 18px;
}

#submit{
    background-color: #28a745;
    opacity:80%;
    font-size: 16px;
}
#submit:hover{
    cursor: pointer;
}